
.border{
    border: 2px solid black;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-items{
    align-items: center;
}

.bg-black{
    background-color: black;
}

.bg-grey{
    background-color: rgb(18, 18, 18);
    color: white;
}

.rounded{
    border-radius: 5px;
}

.p-1{
    padding: 5px;
}
.m-1{
    margin: 10px;
}

.m-2{
    margin: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  










